<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Custom Fields:</strong>
  <br>
  <% @custom_fields.each do |cf| %>
    <%= form_for cf, url: product_custom_field_path(@product, cf) do |field| %>
      <strong>Key:</strong> <%= cf.key %>
      <strong>Value:</strong> <%= field.text_field :value %>
      <%= link_to("Delete", product_custom_field_path(@product, cf), method: :delete) %>
      <%= field.submit 'Update' %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
